body {
    position: relative;
    overflow-x:hidden;
    background: #f7f7fc;
    font-family: 'Roboto', sans-serif;
}

a:hover{
  color:white;
  text-decoration:none;
}

body,
html { height: 100%;}





/*---------------------------------
sidebar
----------------------*/



#sidebar-wrapper {
    z-index: 1000;
    height: 100%;
	width:0px;      
	left: -50px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
    transition: all 0.5s ease;
}

#sidebar-wrapper li{
    margin-bottom: -20px;
}

#sidebar-wrapper::-webkit-scrollbar {
    width: 8px;
    background: #222e3c;
}

#sidebar-wrapper::-webkit-scrollbar-thumb {
    background-color:#989898;
	border-radius:10px;
}

.logo-brand{
    display: flex !important;
    justify-content: center;
}

.title-brand{
    display: flex !important;
    justify-content: center;
    background: #3c4c61 !important ;
    padding-bottom: 0px;    
}

.sidebar-brand {
    font-weight: 600;
    font-size: 1.15rem;
    padding: 1.15rem 1.5rem;
    display: block;
    background: #303f52;
    color: #f8f9fa;
}
.sidebar-header{
	text-transform:capitalize;
    padding: 10px!important;
    font-size: 14px;
    color: #ced4da;
}

.navbar-nav > li > a ,.submenu-box ul li a{
    color:gray!important;
    text-transform: capitalize;
    font-size: 14px;
	  padding:10px 10px 10px 3px!important;
    display: block;
    font-weight: 400;
    position: relative;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .2px;
}

.submenu-box ul li a{
 padding:4px 10px 4px 20px!important;
  color:#c1c1c1!important;
}



.navbar-nav > li > a.active{
    color: #e9ecef!important;
    background: linear-gradient(90deg,rgba(59,125,221,.1),rgba(59,125,221,.0875) 100%,transparent);
    /* border-left:4px solid #3b7ddd; */
}

.nav-sub-items{
    position: absolute; 
    left: 20rem; transition: all 0.5s ease; 
    width: 100%;
}

.nav-sub-items.active{

}

.navbar-nav .has-sub > a.collapsed::after {
    transition: 0.4s ease;
}

.navbar-nav .has-sub > a.collapsed::after {
    color:gray;
    font-size: 10px;
    content: "\f078";
}
.navbar-nav .has-sub > a.collapsed::after {
   color:gray;
}

.navbar-nav .has-sub > a::after {
    position: absolute;
    right: 0px;
    top: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    color:gray;
    display: block;
    content: "\f077";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 13px;
    line-height: 30px;
    margin-top: -15px;
}



#wrapper.toggled {
    padding-left: 270px;
}



.toggled#sidebar-wrapper {
    width:270px!important;
    height: 100%;
     left: 0px;
    overflow-y:auto;
    overflow-x:hidden;
    -webkit-box-shadow: 9px 0px 3px -2px rgba(0,0,0,0.28); 
    box-shadow: 9px 0px 3px -2px rgb(0 0 0 / 3%);
    transition: all 0.5s ease;
}

.navbar-nav li{
  display:block!important;
  
}

.nav-items{
    position: absolute; left: 0px; 
    transition: all 0.5s ease !important; 
    width: 100% !important;
}

.nav-items.non{
    position: absolute; left: -20rem; 
    transition: all 0.5s ease !important; 
    width: 100% !important;
}

.nav-sub-items{ 
    position: absolute; 
    left: 20rem; 
    transition: all 0.5s ease; 
    width: 100%;
}

.nav-sub-items.active{ 
    position: absolute; 
    left: 0px; 
    transition: all 0.5s ease; 
    width: 100%;
}


.nav-item .nav-link{
    display:block;    
	text-transform:capitalize;
    text-decoration: none;
    padding:6px 10px !important; 
    transition:0.4s ease;	
    margin-bottom: 15px;
}

.navbar-nav li p,
.navbar-nav li i {
    color: #333;
}

.navbar-nav > li > a i:before{
  margin:0px 5px 0px 0px;
  font-size:14px;
}

.navbar-nav .nav-item .nav-link{
    display: flex !important;
}

.navbar-nav .nav-item .nav-link p{
    padding-top: 10px;
    padding-left: 10px;
}

.nav-items .nav-item .nav-link .fa-chevron-right{
    margin-left: auto;
}

.navbar-nav .nav-item .nav-link .nav-sub{
    padding: 0px;
}

.navbar-nav .sidebar-header .sub-item-show,
.navbar-nav .sidebar-header .some-items{
    display: flex;
}

.navbar-nav .sidebar-header .sub-item-show i,
.navbar-nav .sidebar-header .some-items i{
    padding-top: 17px;
    padding-right: 15px;
}

.navbar-nav .sidebar-header .sub-item-show p,
.navbar-nav .sidebar-header .some-items p{
    font-weight: bold;
    padding-top: 9px;
    font-size: 20px;
}



/*---------------------------------
sidebar
----------------------*/



/* topbar */


.navbar .input-search{
    display: flex;
    padding-top: 16px;
}

.navbar .input-search i{
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

.navbar .navbar-nav .icon-person{
    font-size: 34px;
    padding: 15px;
}

.navbar .navbar-nav .dropdown-menu li a{
    color: black;
    padding: 20px;
}

.navbar .navbar-nav .dropdown-menu{
    left: -100px;
} 


/* end topbar */




/*---------------------------------
  main-content
----------------------*/

#page-content-wrapper {
    width: 100%;
	transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -270px;

	transition: all 0.5s ease;
}

 .toggled#page-content-wrapper{
  margin-left:270px;
  transition: all 0.5s ease;
 }
 
 @media only screen and (min-width:992px){
 .toggled#page-content-wrapper{
    width:calc(100% - 270px); 
	}
 }

 
/*---------------------------------
  main-content
----------------------*/


/* page dashboard */

.dashboard .card-top{
    overflow: hidden; 
    position: relative;  
}

.dashboard .card-top i{
    font-size: 100px;
    position: absolute;
    right: -18px;
    opacity: 0.2;
    color: gray;
}


/* end page dashboard */


/* page table */



#page-table .add-data{    
    font-size: 25px;
    margin-left: auto !important;
}

.icon-add{
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}

.icon-add  i{
    position: absolute;
    font-size: 25px;
    right: -21px;
    top: -39px;
    height: 40px;    
    width: 40px;
    background-color: #3b7ddd;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 1.6;
}

#page-table .btn-danger{
    margin-right: 10px;
}

/* end page table */




/* aset ruangan   */

#aset{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#aset .search{
    margin-left: 71px;
}


/* end aset ruangan */



/* aset gedung */

#gedung .card{
    margin-bottom: 24px;
    border: none;
    box-shadow: 0 0 0.999rem 0 rgb(33 37 41 / 23%);
    border-radius: 10px;
    margin-bottom: 60px;
}

#gedung .add-data{
    margin-bottom: 20px;    
}

#gedung .content-gedung{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

#gedung .menu{
    display: flex;
    justify-content: center;    
}

#gedung .menu a{
    margin-right: 10px;
}


/* end aset gedung */



/*---------------------------------
cross-bar animation
----------------------*/


.nav-icon1{
  z-index: 999;
  position:relative;
  display: block;
  width:23px;
  margin:0px 30px 0px 25px;
   cursor:pointer;
  height: 25px;
}


.nav-icon1 span{
  position:absolute;
  top:0;
  width:100%;
  height:3px;
  cursor:pointer;
  background-color:#5d5d5d;
  left:0;
  transform:rotate(0deg);
  transition:.30s ease-in-out;
}

.nav-icon1:hover span:nth-of-type(1){
  top:-3px
}

.nav-icon1:hover span:nth-of-type(3){
  top:19px;
}

.nav-icon1 span:nth-of-type(1){
   top:0;
}

.nav-icon1 span:nth-of-type(2){
   top:8px;
}

.nav-icon1 span:nth-of-type(3){
   top:16px;
}

.nav-icon1.open span:nth-of-type(1){
   top:8px;
   transform:rotate(135deg);
}

.nav-icon1.open span:nth-of-type(2){
   top:8px;
   opacity:0;
   left:-30px;
}

.nav-icon1.open span:nth-of-type(3){
   top:8px;
   transform:rotate(-135deg);
}


/*---------------------------------
cross-bar animation
----------------------*/



/*---------------------------------
header navbar design
----------------------*/
.my-navbar{
  padding:0px;
  background-color:white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}

.text-gray-600 {
    color: #858796!important;
}
.nav-link .img-profile {
    height:40px;
    width:40px;
}

.navbar-nav > li > a >i{
    font-size: 18px;
    /* color:#b3b3b3; */
	margin:8px 0px 0px 0px;
	padding:0px;
}

.badge-counter {
    position: absolute;
    transform:scale(.7);
    transform-origin: top right;
    right:6px;
	margin-top:4px;
}


.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.nav-flag, .nav-icon {
    padding: .1rem .8rem;
    display: block;
    font-size: 1.5rem;
    color: #6c757d;
    transition: background .1s ease-in-out,color .1s ease-in-out;
    line-height: 1.4;
}


.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}
.navbar-nav .dropdown-menu {
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.05);
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown-menu-lg {
    min-width: 20rem;
}


.position-relative {
    position: relative!important;
}

.nav-item .indicator {
    background: #3b7ddd;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.05);
    border-radius: 50%;
    display: block;
    height: 18px;
    width: 18px;
    padding: 1px;
    position: absolute;
    top: 0;
    right: -8px;
    text-align: center;
    transition: top .1s ease-out;
    font-size: .675rem;
    color: #fff;
}

/*---------------------------------
 header navbar design
----------------------*/



/*---------------------------------
main-top card
----------------------*/

.card {
    margin-bottom: 24px;
	border:none;
    box-shadow: 0 0 0.875rem 0 rgba(33,37,41,.05);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card-title {
    font-size: .875rem;
    color: #495057;
}

.card-body h1{
font-size: 1.75rem;
font-weight: 400;
    line-height: 1.2;
    color: #000;
}


.text-gray-800 {
    color: #5a5c69!important;
	font-size: 1.75rem;
	font-weight: 400;
    line-height: 1.2;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2)!important;
}


.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}


.font-16 {
    font-size: 16px;
}



/*---------------------------------
main-top card
----------------------*/




/*---------------------------------
main-table
----------------------*/


 .m-r-10 {
    margin-right: 10px;
}
.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.btn-info {
    color: #fff;
    background-color: #2962FF;
    border-color: #2962FF;
}

.btn-orange {
    color: #212529;
    background-color: #fb8c00;
    border-color: #fb8c00;
}

.btn-success {
    color: #fff;
    background-color: #36bea6;
    border-color: #36bea6;
}
.btn-purple {
    color: #fff;
    background-color: #7460ee;
    border-color: #7460ee;
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
}


.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #a1aab2;
	  margin-top: -0.375rem;
}


.table td, .table th {
    padding: 1rem;
	font-size:14px;
	color:#333;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table h5{
      font-size: 16px;
	  font-weight:600;
	  color:#585858;
}



/*---------------------------------
main-table
----------------------*/




/*---------------------------------
 footer
----------------------*/

footer.footer {
    padding: 1rem .875rem;
    direction: ltr;
    background: #fff;
}

footer.footer ul {
    margin:0px;
	list-style:none;
}

.footer ul  li{
 display:inline-block;
 margin:0px 7px;
}

.text-muted {
    color: #6c757d!important;
	font-size:14px;
}
 

/*---------------------------------
footer
----------------------*/




